<!doctype html>
<html ng-app="atlassianApp">
	<head>
		<title>Tegan's Atlassian Project/</title>
		<!-- CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" href="styles/style.css">
		<!-- Javascript -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="js/app.js"></script>
	</head>
	<body>
		<header>
			<div class="container">
				<img src="images/logo.png" alt="Atlassian">
			</div>
		</header>
		<div class="container" ng-controller="articlesCtrl">
			<div class="summit-header">
				<img src="images/summit-logo.png">
				<p class="summit-header__sub-title">Video Archive</p>
			</div>
			<!-- Tabs -->
			<div class="summit-tabs">
				<ul class="summit-tabs__list">
					<li ng-class="{activeTab : activeTitle == title}" class="summit-tabs__list-item" ng-repeat="title in titles">
						<a ng-click="showArticles(title);" class="summit-tabs__link" href="">{{title}}</a>
					</li>
				</ul>
			</div>
			<div class="row">
				 <div class="col-4">
					<h3>Software Teams</h3>
					<!-- Side Menu -->
					<ul class="side-menu">
						<li ng-class="{activeSideMenu : activeArticle == item}" class="side-menu__item" ng-repeat="item in sameTitle">
							<a href="" ng-click="articleShow(item)">
								<p class="side-menu__title">{{item.Title}}</p>
								<span ng-if="item.Speakers[0].FirstName">
									<p class="side-menu__sub-title">{{item.Speakers[0].FirstName}} {{item.Speakers[0].LastName}}, {{item.Speakers[0].Company}}</p>
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-8 article">
					<!-- Article -->
					<h1>{{article.Title}}</h1>
					<span ng-if="article.Speakers[0].FirstName">
						<p class="article__author">{{article.Speakers[0].FirstName}} {{article.Speakers[0].LastName}}</p>
					</span>
					<p>{{article.Description}}</p>
					<span ng-if="article.Speakers[0].FirstName">
						<h2>About the Speaker</h2>
						<p class="article__about-author"><strong>{{article.Speakers[0].FirstName}} {{article.Speakers[0].LastName}}</strong>, {{article.Speakers[0].Title}}, {{article.Speakers[0].Company}}</p>
						<p>{{article.Speakers[0].Biography}}</p>
					</span>
				</div> 
			</div>
		</div>
	</body>
</html>