@font-face {
   font-family: atlassian;
   src: url(lineto-circular-medium-c.woff);
}

header {
	background-color: #005183;
	padding-top: 6px;
	padding-bottom: 12px;
}

h1 {
	color: #005183;
	font-family: atlassian, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 600;
	font-size: 2.4em;
}

h2 {
	color: #005183;
	font-family: atlassian, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1.6em;
	padding-top: 12px;
}

h3 {
	color: #005183;
	font-family: atlassian, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 600; 
	font-size: 1.3em;
	padding-bottom: 12px;
}

/* Summit Header */
.summit-header {
	padding-top: 48px;
	text-align: center;
}

.summit-header__sub-title {
	font-weight: 300;
	color: #707070;
	font-size: 1.2em;
	padding-top: 24px;
	padding-bottom: 24px;
}

/* Summit Tabs */
.summit-tabs {
	padding-top: 12px;
	margin-bottom: 48px;
	border-bottom: 1px solid #cccccc;
}

.summit-tabs__list {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

.summit-tabs__list-item {
	display: inline-block;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	background-color: #f5f5f5;
	margin-bottom: -1px;
}

.summit-tabs__list-item:first-of-type {
	border-top-left-radius: 0.8em;
	border-left: 1px solid #cccccc;
}

.summit-tabs__list-item:last-of-type {
	border-top-right-radius: 0.8em;
}

.activeTab {
	display: inline-block;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #fff;
	background-color: #fff;
}

.summit-tabs__link {
	padding: 10px 12px;
	display: block;
	color: #333333;
}

.summit-tabs__link:hover {
	color: #333333;
}

.activeTab > .summit-tabs__link {
	color: #707070;
}

/* Side Menu */
.side-menu {
	list-style-type: none;
	padding-left: 0;
}

.side-menu__item {
	border-top: 1px solid #cccccc;
	padding: 12px;
	font-size: 0.8em;
}

.side-menu__item:last-of-type {
	border-bottom: 1px solid #cccccc;
}

.activeSideMenu {
	background-color: #f5f5f5;
}

.side-menu__title {
	color: #005183;
	font-weight: 600;
	margin-bottom: 6px;
}

.side-menu__sub-title {
	color: #707070;
	font-weight: 200;
	margin-bottom: 0;
	font-size: 0.9em;
}

/* Article section */
.article {
	padding-left: 30px;
}

.article__author {
	color: #005183;
	padding-top: 12px;
}

.article__about-author {
	padding-top: 12px;
}
